HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 支付证书
app/src/main/resources/cert
app/src/main/resources/application-private.yaml
app/src/main/resources-env/dev/application-pay.yml

# 本地开发时包含ai采集结果的数据库，不提交到仓库
datas/ai-oc.trace.db
datas/ai-oc-my.mv.db
datas/ai-oc-my.trace.db
datas/ai-oc.mv.db

.env

logs/

docs/back

workspace/datas/jobclaw.trace.db
workspace/datas/jobclaw.mv.db
workspace/datas/jobclaw-my.trace.db
workspace/datas/jobclaw-my.mv.db
workspace/channel
workspace/conversations
workspace/AGENT.private.md
workspace/tasks